NODE_ENV=development
PORT=3000
LOG_LEVEL=info
MONGODB_URI=mongodb://localhost:27017/findnovel_v2
REDIS_URL=redis://localhost:6379
QUEUE_SCHEDULER_MAX_RETRIES=1
QUEUE_SCHEDULER_RETRY_DELAY_MS=2000

SCHEDULER_ENABLED=true

GSHEET_WEB_APP_URL=https://script.google.com/macros/s/AKfycbzHveiZMCHx2LCmieWnF_toAQXsKYoJW3JFcz6tX0FRfd_H5x2-NJXzpdHFCswToF7y/exec

TELEGRAM_ENABLED=false
TELEGRAM_BOT_TOKEN=8722361800:AAGL80VBDRxpuWxvzfQDzGPaS1nl6SxvUSg
TELEGRAM_CHAT_ID=-1003910973042
