NODE_ENV=development
PORT=3000
LOG_LEVEL=info
MONGODB_URI=mongodb://localhost:27017/findnovel_v2
REDIS_URL=redis://localhost:6379
CRAWLER_GATEWAY_URL=https://puppeteer.novelbin.me/axiosGet
FINDNOVEL_BASE_URL=https://findnovel.net

CRAWL_CONCURRENCY_NOVEL=3
CRAWL_CONCURRENCY_CHAPTER=8
CRAWL_CONCURRENCY_CHECK=20
QUEUE_SCHEDULER_MAX_RETRIES=1
QUEUE_SCHEDULER_RETRY_DELAY_MS=2000

SCHEDULER_ENABLED=true
SCHEDULER_RUN_ON_STARTUP=false
SCHEDULER_LATEST_RELEASE_CRON=*/10 * * * *
SCHEDULER_MAIN_CRON=*/30 * * * *
SCHEDULER_DAILY_MAINTENANCE_CRON=0 0 * * *
SCHEDULER_RUN_FIX_CHAPTER_ON_MAIN_SYNC=false
SCHEDULER_FIX_CHAPTER_ENABLED=false
SCHEDULER_FIX_CHAPTER_CRON=*/60 * * * *
SCHEDULER_LATEST_RELEASE_START=1
SCHEDULER_LATEST_RELEASE_END=20
SCHEDULER_DISCOVER_NEW_START=1
SCHEDULER_DISCOVER_NEW_END=15
SCHEDULER_SYNC_EXISTING_LIMIT=1200
FIX_CHAPTER_WINDOW_MINUTES=30
FIX_CHAPTER_LIMIT=200
SCHEDULER_DISCOVER_CRAWL_CHAPTERS=true

TELEGRAM_ENABLED=false
TELEGRAM_BOT_TOKEN=8722361800:AAGL80VBDRxpuWxvzfQDzGPaS1nl6SxvUSg
TELEGRAM_CHAT_ID=-1003910973042
